# builds and publishes on tag pushes
name: Release docker image
on:
  push:
    branches-ignore:
      - '*'
    tags:
      - '*'
    paths-ignore:
      - '.gitignore'
      - 'docker-compose.yml'
      - 'LICENSE'
      - '**.md'

jobs:
  build_test_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: vroom tag
        id: vroom_tag
        run: echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}

      - name: vroom-express tag
        id: vroom_express_tag
        run: echo "TAG=$(curl --silent 'https://api.github.com/repos/VROOM-Project/vroom-express/tags' | jq -r '.[0].name')" >> GITHUB_OUTPUT
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            VROOM_RELEASE=${{ steps.vroom_tag.outputs.TAG }}
            VROOM_EXPRESS_RELEASE=${{ steps.vroom_express_tag.outputs.TAG }}
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/vroom-project/vroom-docker:${{ steps.vroom_tag.outputs.TAG }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
